.header-container a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color:#00b894;

}
.header-container{
    background-color: #30336b;
    height: 50px;
    padding: 20px;
}
.header-container a:hover{
    color: orange;
}
span{
    color: white;
    margin-right: 20px;
}